@use "../tools" as t;



body {
  // 1.First, general settings (fonts, base), which are not theme-dependent
  font-family: t.$font-main, t.$font-alt; 
  font-size: t.$fs-base;
  font-weight: t.$fw-reg;
  line-height: 1.5;

  // 2. Enable the light theme by default
  @include t.apply-theme(t.$light-theme);

  // 3.Enable dark theme conditionally (via class)
  &.dark-mode {
    @include t.apply-theme(t.$dark-theme);
  }
}



