@use "sass:map";

// 1. fonts
$font-main: 'Ubuntu', sans-serif;
$font-alt: 'Arial', sans-serif;

$fw-light: 300;
$fw-reg: 400;
$fw-medium: 500;
$fw-bold: 700;

$fs-base: 16px;

// 2. grid and layers
$space-xs: 4px;
$space-sm: 8px;
$space-md: 16px;
$space-lg: 24px;
$space-xl: 48px;

$z-negative: -1;
$z-base: 1;
$z-header: 100;

// 3. universal statuses
$clr-error: #ff4d4d;
$clr-success: #2ecc71;

// 4. themes
$light-theme: (
  "bg": #3b3737,
  "text": #1316ca,  
  "accent": #4AF6CD 
);

$dark-theme: (
  "bg": #171919,    
  "text": #ffffff, 
  "accent": #4AF6CD 
);